<div class="mt-4">
  <h3>
    ĐĂNG KHOÁ HỌC
  </h3>
  <form method="POST" action="/courses/store" class="mt-4">
    <div class="mb-3">
      <label for="name" class="form-label">Tên khoá học</label>
      <input
        name="name"
        type="text"
        class="form-control"
        id="name"
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Mô tả khoá học</label>
      <input
        name="description"
        type="text"
        class="form-control"
        id="description"
      />
    </div>
    <div class="mb-3">
      <label for="videoId" class="form-label">ID Video</label>
      <input
        name="videoId"
        type="text"
        class="form-control"
        id="videoId"
      />
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Level</label>
      <input
        name="level"
        type="text"
        class="form-control"
        id="level"
      />
    </div>

    <button type="submit" class="btn btn-primary">Thêm khoá học</button>
  </form>
</div>